.article {
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
}

.articleItem {
    width: 18%;
    margin: 1% 0;
    display: flex;
}

.articleImage {
    width: 100%;
    height: auto;
}

.articleH3 {
    width: 100%;
    padding: 12px 15px;
    border-left: 3px solid;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.555);
}

.articleEdit {
    position: absolute;
    right: 12px;
    top: 14px;
}