.footer {
    margin: 50px auto;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.footer>div>a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer>div>a:hover {
    text-decoration: underline;
}

.footer>div>a>svg {
    margin-right: 10px;
}